<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <link rel="icon" href="./docs/.vuepress/public/favicon.png" />
    <title>Calendar Test</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="./lib/v-calendar.umd.js"></script>
    <style>
      section {
        margin-top: 26px;
        max-width: 400px;
        margin-left: auto;
        margin-right: auto;
      }
      .selectors {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 10px;
      }
      .selectors label {
        margin-left: 10px;
      }
    </style>
  </head>
  <body>
    <div id="app">
      <!-- <v-date-picker v-model="date" mode="time"> -->
      <v-date-picker v-model="date" mode="datetime" min-time="'08:00'" max-time="'16:00'" :masks="masks" :is24hr="is24hr">
        <template v-slot="{ inputValue, inputEvents }">
          <input
            class="px-2 py-1 border rounded focus:outline-none focus:border-blue-300"
            :value="inputValue"
            v-on="inputEvents"
          />
        </template>
      </v-date-picker>
      <br>
      {{date}}
      <br>
      <br>
      <v-date-picker v-model="date2" mode="datetime">
        <template v-slot="{ inputValue, inputEvents }">
          <input
            class="px-2 py-1 border rounded focus:outline-none focus:border-blue-300"
            :value="inputValue"
            v-on="inputEvents"
          />
        </template>
      </v-date-picker>
      <br>
      {{date2}}
    </div>
    <!-- built files will be auto injected -->
    <script type="text/javascript">
    var app = new Vue({
      el: '#app',
      data() {
        return {
          date: new Date('2021-07-20 00:00:00'),
          date2: new Date('2021-07-20 00:00:00'),
          is24hr: true,
          masks: {
            inputDateTime: 'YYYY-MM-DD hh:mm A',
            inputDateTime24hr: 'YYYY-MM-DD hh:mm A',
          }
        }
      }
    })
    </script>
  </body>
</html>
